section.beelike
  .container
    .beelike__title.main-title
      h2 Beelike - відділ закупок, інтегрований у ваш бізнес
    .beelike-body
      .beelike-body__left
        .beelike-body__img
          img(src="img/beelike-1.png", alt="price")
        .beelike-body__text
          p пошук найкращих цінових пропозицій на ринку
      .beelike-body__center
        .beelike-body__wrapper.beelike-body__wrapper--top
          .beelike-body__img
            img(src="img/beelike-2.png", alt="price")
          .beelike-body__text
            p економія коштів фермера на закупку
        .beelike-body__wrapper.beelike-body__wrapper--bottom
          .beelike-body__img
            img(src="img/beelike-3.png", alt="price")
          .beelike-body__text
            p супровід угоди від замовлення до відвантаження
      .beelike-body__right
        .beelike-body__img
          img(src="img/beelike-4.png", alt="price")
        .beelike-body__text
          p зменшення психологічного навантаження та економія часу фермера



