section.calculate
  .container
    .calculate__body
      .calculate__left
        .calculate__title.main-title
          h2 Давайте прорахуємо економію на замовленні?
        form.calculate-form
          .calculate-form__wrapper
            select.calculate-form__select
              option.calculate-form__option(value="value1") Категорія
              option.calculate-form__option(value="value2") Категорія2
          label.calculate-form__label
            input.calculate-form__input(name="text" type="text" placeholder="Позиція")
          label.calculate-form__label
            input.calculate-form__input(name="text" type="text" placeholder="Кількість")
          label.calculate-form__label
            input.calculate-form__input(name="text" type="text" placeholder="Населений пункт")
          .calculate-form__btn-box
            button.calculate-form__btn.main-btn(type="submit") Порахувати заявку
            
        