section.calculate
  .container
    .calculate__right
      img(src="img/calculate-right.png", alt="people works")
    .calculate__body
      .calculate__left
        .calculate__title.main-title
          h2 Давайте прорахуємо економію на замовленні?
        form.calculate-form
          .calculate-form__dropdown
            button(type="button").calculate-form__dropbtn Категорія
            ul.calculate-form__list
              li.calculate-form__item(data-value="value-1")
                .calculate-form__text
                  p Добрива  
              li.calculate-form__item(data-value="value-2")
                .calculate-form__text
                  p Насіння
              li.calculate-form__item(data-value="value-3")
                .calculate-form__text
                  p ЗЗР
            input.calculate-form__input-hidden(type="text" name="select-category" value="")
          label.calculate-form__label
            input.calculate-form__input(name="text" type="text" placeholder="Позиція")
          label.calculate-form__label
            input.calculate-form__input(name="text" type="text" placeholder="Кількість")
          label.calculate-form__label
            input.calculate-form__input(name="text" type="text" placeholder="Населений пункт")
          .calculate-form__btn-box
            button.calculate-form__btn.main-btn(type="submit") Порахувати заявку
        form.calculate-form
   



          