section.callback(id="callback")
  .container
    .callback__title.main-title(data-aos="zoom-in" data-aos-duration="1100")
      h2 Якщо у вас залишились запитання, ми зателефонуємо вам
    form.callback-form
      label.callback-form__label(data-aos="fade-up" data-aos-duration="700")
        input.callback-form__input(name="name" type="text" placeholder="Імя")
      label.callback-form__label(data-aos="fade-up" data-aos-duration="1000")
        input.callback-form__input(name="phone" type="tel" placeholder="Телефон")
      .callback-form__btn-bg(data-aos="fade-up" data-aos-duration="1300")
        button.callback-form__btn.main-btn.btn-form-sub(type="submit") Передзвонити мені
