section.callback
  .container
    .callback__title.main-title
      h2 Якщо у вас залишились запитання, ми зателефонуємо вам
    form.callback-form
      label.callback-form__label
        input.callback-form__input(name="name" type="text" placeholder="Імя")
      label.callback-form__label
        input.callback-form__input(name="tel" type="tel" placeholder="Телефон")
      .callback-form__btn-bg 
        button.callback-form__btn.main-btn(type="submit") Передзвонити мені
