.end-form
  .end-form__body
    a.end-form__cross(href="#")
      svg.end-form__svg(width="20" height="20")
        use(href="img/icons/icons.svg#cross-end-form")
    .end-form__top
      .end-form__img
        img(src="img/ok.png", alt="ok")
    .end-form__text
      p Дякуємо! Ваша заявка прийнята. Менеджер Beelike зв’яжеться з Вами найближчим часом
