footer.footer
  .container
    .footer__body
      .footer__top
        .footer__logo
          a(href="#") 
            .footer__img
              img(src="img/logo.svg", alt="beelike logo")(data-aos="fade-left" data-aos-duration="1100")
        .footer-list-wrapper
          ul.footer-list
            li.footer-list__item(data-aos="fade-left" data-aos-duration="700")
              a.footer-list__link.main-nav(href="#") Про сервіс 
            li.footer-list__item(data-aos="fade-left" data-aos-duration="1000")
              a.footer-list__link.main-nav(href="#") Команда
            li.footer-list__item(data-aos="fade-left" data-aos-duration="1300")
              a.footer-list__link.main-nav(href="#") Тарифи
            li.footer-list__item(data-aos="fade-left" data-aos-duration="1600")
              a.footer-list__link.main-nav(href="#") Подати заявку
          ul.footer-autlist
            li.footer-autlist__item(data-aos="fade-left" data-aos-duration="700")
              a.footer-autlist__link(href="#") м. Вінниця, вул.Амосова, 26-а
            li.footer-autlist__item(data-aos="fade-left" data-aos-duration="1000")
              a.footer-autlist__link(href="tel:+380934277900") + 380 93 427 79 00
            li.footer-autlist__item(data-aos="fade-left" data-aos-duration="1300")
              a.footer-autlist__link(href="mailto:beelike.ceo@gmail.com") beelike.ceo@gmail.com
      .footer__bottom
        ul.footer-soclink
          li.footer-soclink__item
            a.footer-soclink__link.main-soclink(href="#")     
              svg.footer-soclink__img(width="28" height="28")
                use(href="img/icons/icons.svg#instagram")
          li.footer-soclink__item
              a.footer-soclink__link.main-soclink(href="#")
                svg.footer-soclink__img.footer-soclink__img--wd(width="16" height="28")
                  use(href="img/icons/icons.svg#facebook")
