header.header
  .container
    .header__body
      .header__left
        .header__logo
          a(href="#")
            .header__img
              img(src="img/logo.svg", alt="beelike logo")(data-aos="fade-right" data-aos-duration="2800")
      .header__menu
        ul.header-list
          li.header-list__item(data-aos="fade-down" data-aos-duration="700")
            a.header-list__link.main-nav(href="#scheme") <span>Про сервіс</span>
          li.header-list__item(data-aos="fade-down" data-aos-duration="1000") 
            a.header-list__link.main-nav(href="#team") <span>Команда</span>
          li.header-list__item(data-aos="fade-down" data-aos-duration="1300")
            a.header-list__link.main-nav(href="#packages") <span>Тарифи</span>
          li.header-list__item(data-aos="fade-down" data-aos-duration="1600")
            a.header-list__link.main-nav(href="#callback") <span>Подати заявку</span>
          li.header-list__item(data-aos="fade-down" data-aos-duration="1900")
            a.header-list__link.main-nav(href="#footer") <span>Контакти </span>
      .header__right-wrapper
        ul.header-soclink
          li.header-soclink__item(data-aos="fade-down" data-aos-duration="2200")
            a.header-soclink__link.main-soclink(href="#")
              svg.header-soclink__img(width="28" height="28")
                use(href="img/icons/icons.svg#instagram")
          li.header-soclink__item(data-aos="fade-down" data-aos-duration="2500")
              a.header-soclink__link.main-soclink(href="#")
                svg.header-soclink__img(width="16" height="28")
                  use(href="img/icons/icons.svg#facebook")
        .header__right
          .header__tel(data-aos="fade-left" data-aos-duration="2800")
            a(href="tel:+380934277900") <span>+ 380 93 427 79 00</span>
      button.header__burger(type="button")(data-aos="fade-right" data-aos-duration="2800")
        span.header__span


   
