.popup(id="form-content")
  form.popup__form
    .popup__title
      h3 Заповніть форму, щоб зв’язатись з вами
    label.popup__label
      input.popup__input(type="text" name="nameForm" placeholder="Імя")
    label.popup__label
      input.popup__input(type="text" name="phoneForm" placeholder="Телефон")
    button.popup__btn.main-btn(type="submit") Передзвонити мені


