section.main
  .container
    .main__body
      .main-left
        .main-left__top
          .main-left__logo(data-aos="fade-up" data-aos-duration="1100")
            img(src="img/team-logo.svg", alt="beelike logo")
          .main-left__title.main-title(data-aos="fade-up" data-aos-duration="1500")
            h1 Агросервіс по закупці
          .main-left__btns
            .main-left__btn-box(data-aos="fade-up" data-aos-duration="1100")
              button(type="button" id="open-form").main-left__btn.main-btn Залишити заявку
            .main-left__btn-box(data-aos="fade-up" data-aos-duration="1500")
              button(type="button").main-left__btn.main-left__btn--bg.main-btn Дізнатись більше
    .main__img(data-aos="fade-left" data-aos-duration="1100")
      img(src="img/main-bg.png", alt="man")