section.packages
  .container
    .packages__top
      .packages__title.main-title
        h2 Тарифні пакети
      .packages__img
        img(src="img/logo.svg", alt="beelike logo")
    ul.packages-list
      li.packages-list__item
        .packages-list__top
          .packages-list__title
            h3 Тестовий пакет
        .packages-list__bottom
          .packages-list__text
            p до 5 закупок - <span>безкоштовно</span>
          ul.packages-infolist
            li.packages-infolist__item
              .packages-infolist__icon
                svg(width="25" height="25")
                  use(href="img/icons/icons.svg#packages-ok")
              .packages-infolist__text
                p Супровід замовлення
            li.packages-infolist__item
              .packages-infolist__icon
                svg(width="25" height="25")
                  use(href="img/icons/icons.svg#packages-ok")
              .packages-infolist__text
                p Моніторинг ринку по всіх позиціях
            li.packages-infolist__item
              .packages-infolist__icon
                svg(width="25" height="25")
                  use(href="img/icons/icons.svg#packages-ok")
              .packages-infolist__text
                p Закупка 5 позицій насіння, ЗЗР, добрив згідно запиту фермера
            li.packages-infolist__item
              .packages-infolist__icon
                svg(width="25" height="25")
                  use(href="img/icons/icons.svg#packages-ok")
              .packages-infolist__text
                p Супровід постачення від замовлення до відвантаження (в т.ч. документообіг та рекламації)
        button.packages-list__btn.main-btn(type="button") Залишити заявку
      li.packages-list__item
        .packages-list__top
          .packages-list__title
            h3 Пакет співпраці
        .packages-list__bottom
          .packages-list__text
            p Абонплата - <span>10 000</span> грн/міс 
          ul.packages-infolist
            li.packages-infolist__item
              .packages-infolist__icon
                svg(width="25" height="25")
                  use(href="img/icons/icons.svg#packages-ok")
              .packages-infolist__text
                p Безлімітна кількість оброблених запитів 
            li.packages-infolist__item
              .packages-infolist__icon
                svg(width="25" height="25")
                  use(href="img/icons/icons.svg#packages-ok")
              .packages-infolist__text
                p Моніторинг ринку по всіх позиціях
            li.packages-infolist__item
              .packages-infolist__icon
                svg(width="25" height="25")
                  use(href="img/icons/icons.svg#packages-ok")
              .packages-infolist__text
                p Закупка безлімітної кількості насіння, ЗЗР, добрив згідно запиту фермера
        button.packages-list__btn.main-btn(type="button") Залишити заявку
        



