section.problems
  .container
    .problems__top
      h2.problems__title.main-title(data-aos="zoom-in" data-aos-duration="1100") Кожен український фермер знайомий з такими проблемами
    ul.problems-list
      li.problems-list__item(data-aos="fade-up")
        .problems-list__img
          img(src="img/problems-1.png", alt="money")
        .problems-list__text
          p Коли шукаєш де дешевше і  купуєш дорожче всіх сусідів
      li.problems-list__item(data-aos="fade-up" data-aos-duration="700")
        .problems-list__img
          img(src="img/problems-2.png", alt="money")
        .problems-list__text
          p Коли постійний потік дзвінків, і продають що треба і що ні
      li.problems-list__item(data-aos="fade-up" data-aos-duration="1000")
        .problems-list__img
          img(src="img/problems-3.png", alt="money")
        .problems-list__text
          p Коли треба на вчора, а ніхто не може поставити.
      li.problems-list__item(data-aos="fade-up" data-aos-duration="1300")
        .problems-list__img
          img(src="img/problems-4.png", alt="money")
        .problems-list__text
          p Коли потрапляєш на ненадійних постачальників, і не спиш ночами
      li.problems-list__item(data-aos="fade-up" data-aos-duration="1600")
        .problems-list__img
          img(src="img/problems-5.png", alt="money")
        .problems-list__text
          p Коли віриш постачальнику роками, а виявляється, що не треба було