section.runline
  .runline__infinite
    .runline__title
      h2 NPK - Азотні добрива - ЗЗР - Мікродобрива - Насіння
    .runline__title
      h2 NPK - Азотні добрива - ЗЗР - Мікродобрива - Насіння
    .runline__title
      h2 NPK - Азотні добрива - ЗЗР - Мікродобрива - Насіння
    .runline__title
      h2 NPK - Азотні добрива - ЗЗР - Мікродобрива - Насіння
    .runline__title

   
   
      
      
