section.runline
  .runline__infinite
    .runline__title
      h2 -селітра-аміак-NPK-
    .runline__title
      h2 -селітра-аміак-NPK-
    .runline__title
      h2 -селітра-аміак-NPK-
    .runline__title
      h2 -селітра-аміак-NPK-
    .runline__title
      h2 -селітра-аміак-NPK-
    .runline__title
      h2 -селітра-аміак-NPK-
    .runline__title
      h2 -селітра-аміак-NPK-
   
   
   
      
      
