section.scheme(id="scheme")
  .container
    .scheme__body
      .scheme-top
        .scheme__title.main-title(data-aos="zoom-in" data-aos-duration="1100")
          h2 Ми працюємо за такою схемою
      .scheme-bottom
        ul.scheme-bottom__list
          li.scheme-bottom__item.scheme-bottom__item--1(data-aos="zoom-in" data-aos-duration="1100")
            .scheme-bottom__title.scheme-bottom__title--1
              p Ваш запит
          li.scheme-bottom__item.scheme-bottom__item--2(data-aos="zoom-in" data-aos-duration="1100")
            .scheme-bottom__title.scheme-bottom__title--2
              p Фіксуємо замовлення:
            ul.scheme-bottom-secondlist
              li.scheme-bottom-secondlist__item
                .scheme-bottom-secondlist__text
                  p Позиція
              li.scheme-bottom-secondlist__item
                .scheme-bottom-secondlist__text
                  p Кількість
              li.scheme-bottom-secondlist__item
                .scheme-bottom-secondlist__text
                  p Терміни
          li.scheme-bottom__item.scheme-bottom__item--3(data-aos="zoom-in" data-aos-duration="1100")
            .scheme-bottom__title.scheme-bottom__title--3
              p Опрацьовуємо замовлення:
            ul.scheme-bottom-secondlist
              li.scheme-bottom-secondlist__item
                .scheme-bottom-secondlist__text
                  p Аналіз ринку
              li.scheme-bottom-secondlist__item
                .scheme-bottom-secondlist__text
                  p Середня ціна на ринку
              li.scheme-bottom-secondlist__item
                .scheme-bottom-secondlist__text
                  p Пошук мінімальної ціни
              li.scheme-bottom-secondlist__item
                .scheme-bottom-secondlist__text.scheme-bottom-secondlist__text--wd
                  p Формування комерційної пропозиції
          li.scheme-bottom__item.scheme-bottom__item--4(data-aos="zoom-in" data-aos-duration="1100")
            .scheme-bottom__title.scheme-bottom__title--4
              p ви оцінюєте економію та приймаєте рішення про покупку
          li.scheme-bottom__item.scheme-bottom__item--5(data-aos="zoom-in" data-aos-duration="1100")
            .scheme-bottom__title.scheme-bottom__title--5
              p Здійснюємо закупку:
            ul.scheme-bottom-secondlist
              li.scheme-bottom-secondlist__item
                .scheme-bottom-secondlist__text
                  p Супровід замовлення
              li.scheme-bottom-secondlist__item
                .scheme-bottom-secondlist__text
                  p Закриття документообігу
              li.scheme-bottom-secondlist__item
                .scheme-bottom-secondlist__text
                  p Закритя логістики 


          



