section.team(id="team")
  .container
    .team__bg 
      img(src="img/team-bg.png", alt="bg gray")(data-aos="fade-right" data-aos-duration="1100")
    .team__title.main-title(data-aos="zoom-in" data-aos-duration="1100")
      h2 Beelike Команда
    .team__body
      .team__body-item
        .team-left
          .team-left__img 
            img(src="img/team-man.png", alt="man")
          .team-left__content
            .team-left__title
              p Дмитро Полетаєв
            .team-left__text
              p посада
        .team-right
          .team-right__top
            .team-right__logo
              img(src="img/team-logo.svg", alt="beelike logo")
            .team-right__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            .team-right__decor
              img(src="img/team-decor.png", alt="decor")
      .team__body-item
        .team-left
          .team-left__img 
            img(src="img/team-man.png", alt="man")
          .team-left__content
            .team-left__title
              p Дмитро Полетаєв
            .team-left__text
              p посада
        .team-right
          .team-right__top
            .team-right__logo
              img(src="img/team-logo.svg", alt="beelike logo")
            .team-right__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            .team-right__decor
              img(src="img/team-decor.png", alt="decor")
    .team__bottom(data-aos="fade-left" data-aos-duration="1100")
      .team__img
        img(src="img/team-text.png", alt="beelike logo")
      .team__img
        img(src="img/team-text.png", alt="beelike logo")
    
