.callback {
  padding-top: 70px;
  padding-bottom: 130px;

  background-color: $second-bg;
  background-image: url(../../img/callback-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    margin-bottom: 65px;
  }
}

.callback-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  &__label {
    width: 410px;
    height: 85px;
    border-radius: 10px;

    display: flex;

    background-color: $white;
  }
  &__input {
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 1.16;
    opacity: 0.5;
    border: none;
    padding: 20px;
    width: 409px;
  }

  &__btn-bg {
    padding: 8px;
    border-radius: 10px;
    background-color: $white;
  }

  &__btn {
    padding: 25px 40px;
    margin-left: 0;
    margin-right: 0;
  }
}
