html {
  font-size: 1rem;
}

body {
  font-family: "Rubik", sans-serif;

  color: $text;
  background-color: $white;
}

.container {
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  font-weight: 500;
  font-size: 3.43rem;
  line-height: 1.27;
  text-align: center;

  color: $title;
}

.main-btn {
  font-weight: 600;
  font-size: 1.12rem;
  line-height: 1.16;
  text-align: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
