.header {
  padding-top: 40px;
  padding-bottom: 40px;

  &__body {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: inline-block;
  }
  &__img {
    width: 38px;
  }

  &__tel > a {
    font-weight: 500;
    font-size: 1.12rem;
    line-height: 1.16;
    transition: 250ms linear;

    color: $text;

    &:hover,
    &:focus {
      color: $accent;
    }
  }

  &__right {
    margin-left: auto;
  }
}

.header-list {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-left: 295px;

  &__link {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 250ms linear;

      background-color: $accent;
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &:hover,
    &:focus {
      color: $accent;
    }
  }

  &__item {
  }
}

.header-soclink {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;

  &__item {
  }

  &__link {
  }
}
