html(lang="ua")
  head 
    include html/head
  body 
    .wrapper
      //- include html/header
      main
        //- MAIN
        //- include html/main
        //- RUNLINE
        include html/runline
        //- PROBLEMS
        include html/problems
        //- WORKS
        include html/works
        //- BEELIKE
        //- include html/beelike
        //- SCHEME
        //- include html/scheme
        //- CALCULATE
        include html/calculate
        //- TEAM
        //- include html/team
        //- PACKAGES
        include html/packages
        //- CALLBACK
        include html/callback
      include html/footer
      script(src="js/app.min.js")

